<div class="container">
  <%= form_tag(calculate_path, :method => 'get', class: :calculator) do %>
      <div class="row">
        <div class="offset-md-3">
          <h1>Calculator</h1>
          <%= render :partial => 'result' %>
          <%= render :partial => 'inputs' %>
        </div>
      </div>
  <% end -%>
</div>